.header {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-color-white;
    border-bottom: $border;

    &__container {
        max-width: 1200px;
        width: 95%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__items {
        display: flex;
        align-items: center;
    }

    &__item {
        margin-right: $spacer-4;
    }
}
.logo {
    margin: 0;

    &--text {
        font-size: 21px;
        font-weight: 700;
        letter-spacing: 6px;
    }
}
