.sidebar {
    position: sticky;
    top: 0;
    padding: $spacer-2 0;
    background-color: #fff;
    min-height: 100vh;
    border-right: 1px solid $c-border-light;

    &__item {
        margin-bottom: $spacer-4;
        padding: $spacer-2 $spacer-5;
        cursor: pointer;
        font-weight: 500;

        &--active {
            border-radius: 2px;
            border-right: 3px solid #0079d3;
            svg {
                color: #0079d3;
            }
        }
    }
}
