.sidebar {
    position: sticky;
    top: 16px;

    &__title {
        font-weight: $f-weight-medium;
        margin-bottom: $spacer-3;
        font-size: 12px;
        color: $c-text-gray-light;
    }
    &__item {
        margin-bottom: $spacer-4;
        padding: $spacer-1 $spacer-2;
        font-weight: $f-weight-medium;
        cursor: pointer;
        border-radius: $radius;

        &--active {
            background-color: $c-primary;
            color: $c-text-white;
            svg {
                color: $c-text-white
            }
        }

    }
}