@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font: inherit;
}

html {
    font-size: $f-size-default;
    -webkit-tap-highlight-color: transparent;
}

body {
    box-sizing: border-box;
    font-family: $f-family-roboto;
    background-color: $bg-color-default;
    color: $c-text-main;
    line-height: 1.4;
}

a {
    color: currentColor;
    text-decoration: none;
}

.d-flex {
    display: flex;
}

.align-center {
    align-items: center;
}

.align-start {
    align-items: flex-start;
}

.justify-center {
    justify-content: center;
}

.space-between {
    justify-content: space-between;
}

.border {
    border: $border;
}

.border-top {
    border-top: $border;
}

.img {
    display: flex;
    width: 100%;
    height: auto;
    user-select: none;
}