.f-weight--medium {
    font-weight: $f-weight-medium;
}

.text-color-primary {
    color: $c-text-primary;
}
.text-color-secondary {
    color: $c-text-secondary;
}

.text-color-blue {
    color: $c-text-blue;
}

.f-size--sm {
    font-size: 14px;
}

.f-size--xs {
    font-size: 12px;
}

.word-break {
    word-break: break-word;
}
