.text-secondary {
    color: $c-text-gray-light;
}

.f-weight--medium {
    font-weight: $f-weight-medium;
}

.text-color-primary {
    color: $c-text-primary;
}

.f-size--sm {
    font-size: 14px;
}

.f-size--xs {
    font-size: 12px;
}

.word-break {
    word-break: break-word;
}
