$f-family-roboto: "Roboto", sans-serif;
$f-size-default: 15px;

$f-weight-thin: 300;
$f-weight-default: 400;
$f-weight-medium: 500;

$c-primary: #1980f7;
$c-gray: #f2f3f5;
$c-gray-light: #464950;
$c-white: #fff;
$c-border: #dbe0e6;
$c-border-light: #ebeced;

$c-text-main: #2b3548;
$c-text-gray-light: $c-gray-light;
$c-text-white: $c-white;
$c-text-primary: $c-primary;

$radius: 5px;

$bg-color-default: $c-gray;
$bg-color-white: $c-white;

$border: 0.7px solid $c-border;

$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 16px;
$spacer-4: 24px;
$spacer-5: 32px;
$spacer-6: 40px;
