$f-family-roboto: "Roboto", sans-serif;
$f-size-default: 15px;

$f-weight-thin: 300;
$f-weight-default: 400;
$f-weight-medium: 500;

$c-white: #fff;
$c-gray: #f2f3f5;
$c-blue: #0079d3;
$c-blue-ultra-light: #f0f4f8;
$c-border: #dbe0e6;
$c-border-light: #ebeced;
$c-dark: #2b3548;

$c-text-primary: #2b3548;
$c-text-secondary: #474e5c;
$c-text-white: $c-white;
$c-text-blue: $c-blue;

$radius: 5px;

$bg-color-default: $c-gray;
$bg-color-white: $c-white;

$border: 0.7px solid $c-border;

$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 16px;
$spacer-4: 24px;
$spacer-5: 32px;
$spacer-6: 40px;
