$f-family-roboto: 'Roboto', sans-serif;
$f-size-default: 15px;

$f-weight-thin: 300;
$f-weight-default: 400;
$f-weight-medium: 500;

// $c-gray: #eef0f1;
// #eef0f5
// #eff1f6
$c-primary: #1980f7;
// $c-gray:#e2e5eb;
$c-gray: #eff1f6;
$c-gray-light: #6a737d;
$c-white: #fff;
$c-border: #dbe0e6;

$c-text-main: #24292e;
$c-text-gray-light: $c-gray-light;
$c-text-white: $c-white;
$c-text-primary: $c-primary;

$radius: 5px;

$bg-color-default: $c-gray;
$bg-color-white: $c-white;

$border: .7px solid $c-border;

$spacer-1: 4px;
$spacer-2: 8px;
$spacer-3: 16px;
$spacer-4: 24px;
$spacer-5: 32px;
$spacer-6: 40px;

